body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    background: white;
    height: max-content;
    align-items: center;
    flex-direction: column;
}

.main-header {
    width: 60%;
    height: 100vh;
    padding: 0 20%;
    background: url("../img/background.png") no-repeat right;
    background-size: cover;
}

.main-header-header_block {
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
}

.main-header-header_block-logo {
    width: 10%;
}

.main-header-header_block-button {
    width: auto;
    padding: 2vh;
    outline: none;
    color: #0064aa;
    cursor: pointer;
    font-size: 1.25vw;
    font-weight: 500;
    background: white;
    border-radius: 1vh;
    height: max-content;
    text-transform: uppercase;
    border: 1px solid #0064aa;
    box-shadow: 0 15px 30px 0 rgba(0, 100, 170, 0.1);
}

.main-header-header_block-button:hover {
    color: white;
    background: #0064aa;
    border: 1px solid #2184e0;
}

.main-header-main_block {
    width: 100%;
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
}

.main-header-main_block-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-header-main_block-text-title {
    margin: 0;
    color: white;
    font-size: 3vw;
}

.main-header-main_block-text-anonymous {
    display: flex;
    align-items: center;
}

.main-header-main_block-text-anonymous-text {
    margin: 0;
    color: white;
    font-size: 3vw;
    font-weight: 700;
}

.main-header-main_block-text-anonymous-warranty {
    color: white;
    font-size: 3vw;
    margin-left: 5%;
    padding: 6vh 2vh;
    font-weight: 700;
    border-radius: 20vh;
    background: #0064aa;
    border: 1vh solid white;
}

.main-header-main_block-text-description_title {
    color: white;
    font-size: 1.6vw;
}

.main-header-main_block-text-description {
    color: white;
    font-size: 1.2vw;
}

.main-header-main_block-calculator {
    width: 40%;
    height: max-content;
}

#orderformph-new-2 {
    width: 100%;
}

#orderformph-new-2-iframe {
    width: inherit !important;
    border-radius: 1vh;
    box-shadow: 0 15px 30px 0 rgba(0, 100, 170, 0.5);
}

.main-rating {
    width: 60%;
    height: 20vh;
    display: flex;
    padding: 5% 20% 3%;
    flex-direction: column;
}

.main-rating-rate {
    width: 100%;
    display: inherit;
    justify-content: space-between;
}

.main-rating-rate-row {
    width: 30%;
    display: inherit;
    border: 1px solid #ededed;
    border-top-right-radius: 3vh;
    justify-content: space-between;
    border-bottom-right-radius: 3vh;
}

.main-rating-rate-block {
    width: 70%;
    padding: 2vh 1vh;
    display: inherit;
    justify-content: space-around;
}

.main-rating-rate-block-logo {
    width: 15%;
}

.main-rating-rate-block-rating {
    width: auto;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
}

.main-rating-rate-block-rating-title {
    margin: 0;
    font-size: 1vw;
    word-break: break-all;
}

.main-rating-rate-block-rating-rate {
    width: 5vw;
}

.main-rating-rate-block-rate_number {
    padding: 2vh;
    color: #0064aa;
    display: inherit;
    font-size: 1.25vw;
    font-weight: bold;
    background: #ededed;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.main-rating-comment {
    margin: 1vh 0;
    display: inherit;
    justify-content: center;
}

.main-rating-comment-text {
    font-size: 1.5vw;
}

.main-left_circle {
    left: 0;
    top: 115%;
    position: absolute;
}

.main-why_us {
    width: 60%;
    height: 50vh;
    padding: 4% 20%;
    display: inherit;
    align-items: center;
    flex-direction: column;
    background: url("../img/why_us_bg.png") no-repeat center;
    background-size: cover;
}

.main-why_us-title {
    margin: 0 0 1vh;
    font-weight: 500;
    font-size: 3vw;
}

.main-why_us-underline {
    width: 10vh;
    background: #0064aa;
    border: 2px solid #0064aa;
}

.main-why_us-list {
    margin: 2vh 0 0;
    padding: 0;
    list-style: none;
}

.main-why_us-list-item {
    display: flex;
    margin: 2vh 0;
    font-size: 1.5vw;
    font-weight: 500;
    align-items: center;
}

.main-why_us-list-item-icon {
    width: 5%;
    margin-right: 2vh;
}

.main-right_circle {
    right: 0;
    top: 180%;
    position: absolute;
}

.main-order_form {
    width: 100%;
    padding: 4% 0;
    display: inherit;
    align-items: center;
    flex-direction: column;
}

.main-order_form-title {
    margin: 0 0 1vh;
    font-size: 3.25vw;
    font-weight: 500;
}

.main-order_form-href {
    margin: 3% 0;
}

.main-order_form-button {
    width: auto;
    padding: 2vh;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 1.25vw;
    font-weight: 500;
    border-radius: 1vh;
    background: #0064aa;
    height: max-content;
    text-transform: uppercase;
    border: 1px solid #0064aa;
    box-shadow: 0 15px 30px 0 rgba(0, 100, 170, 0.1);
}

.main-order_form-button:hover {
    color: #0064aa;
    background: white;
}

.main-left_second_circle {
    top: -20%;
}

.main-work {
    width: 60%;
    padding: 4% 20%;
    display: inherit;
    position: relative;
    align-items: center;
    flex-direction: column;
    background: url("../img/work_bg.png") no-repeat center;
    background-size: cover;
}

.main-work-steps {
    width: 100%;
    display: inherit;
    margin: 5vh 0 2vh;
    justify-content: space-between;
}

.main-work-steps-step {
    width: 20%;
    padding: 6%;
    margin-top: 10%;
    display: inherit;
    border-radius: 2vh;
    position: relative;
    align-items: center;
    background: #fcfcfb;
    flex-direction: column;
    justify-content: center;
    border: 2px solid white;
}

.main-work-steps-step:hover {
    border: 2px solid #0064aa;
}

.main-work-steps-step-number_block {
    top: -40%;
    display: inherit;
    padding: 1vh 4vh 0;
    position: absolute;
    border-radius: 2vh;
    background: #0064aa;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    justify-content: center;
}

.main-work-steps-step:hover .main-work-steps-step-number_block {
    border: 2px solid #0064aa;
    background: white;
}

.main-work-steps-step-number_block-number {
    color: white;
    font-size: 3vw;
    margin: 0 0 1vh;
    font-weight: bold;
}

.main-work-steps-step-number_block-text {
    color: white;
    margin: 0 0 2vh;
    font-size: 1vw;
    text-transform: uppercase;
}

.main-work-steps-step:hover .main-work-steps-step-number_block-number,
.main-work-steps-step:hover .main-work-steps-step-number_block-text {
    color: #0064aa;
}

.main-work-steps-step-description {
    font-size: 1.2vw;
    margin-bottom: 0;
    font-weight: bold;
}

.main-right_second_circle {
    top: 70%;
}

.main-feedback {
    width: 100%;
    padding: 4% 0;
    display: inherit;
    align-items: center;
    flex-direction: column;
}

.main-feedback-review_block {
    margin: 3% 0;
    width: inherit;
    display: inherit;
    justify-content: space-around;
}

.main-feedback-review_block-item {
    width: 30%;
    padding: 3%;
    margin: 0 3%;
    display: inherit;
    border-radius: 2vh;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 15px 0 30px 0 rgba(58, 74, 88, 0.1);
}

.main-feedback-review_block-item-comment_block {
    display: inherit;
}

.main-feedback-review_block-item-comment {
    width: 90%;
    margin-top: 0;
    font-size: 1.2vw;
}

.main-feedback-review_block-item-quote {
    width: auto;
    height: max-content;
}

.main-feedback-review_block-item-user_block {
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: space-between;
}

.main-feedback-review_block-item-user_block-profile {
    width: 15%;
}

.main-feedback-review_block-item-user_block-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-feedback-review_block-item-user_block-info-name {
    margin: 0;
    color: #343e51;
    font-size: 1.2vw;
    font-weight: 500;
}

.main-feedback-review_block-item-user_block-info-position {
    margin: 0;
    color: #a0a6af;
    font-size: 1vw;
}

.main-feedback-review_block-item-user_block-rating {
    width: 25%;
}

.main-footer {
    width: 60%;
    padding: 0 20%;
    display: inherit;
    background: #232323;
    align-items: center;
    justify-content: space-between;
}

.main-footer-copyright {
    color: white;
    font-size: 1vw;
}

.main-footer-navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inherit;
}

.main-footer-navbar-item {
    color: white;
    margin: 0 1vh;
    font-size: 1vw;
    cursor: pointer;
}

.main-footer-navbar-item:hover {
    color: #2184e0;
}

.main-payments {
    width: 50%;
    display: flex;
    padding: 2% 25%;
    background: #232323;
    align-self: flex-end;
    justify-content: center;
}

.main-payments-method {
    width: 5%;
    margin-right: 5%;
}

.main-payments-method:nth-child(3) {
    margin-right: 25%;
}

.main-payments-dmca {
    width: 40%;
}

.main-payments-dmca img {
    width: inherit;
}

@media screen and (min-width: 1301px) and (max-width: 1536px) {
    .main-header-main_block-text {
        width: 45%;
    }

    .main-header-main_block-calculator {
        width: 45%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .main-header-main_block {
        padding-top: 3%;
    }

    .main-header-main_block-text {
        width: 45%;
    }

    .main-header-main_block-text-title,
    .main-header-main_block-text-anonymous-text,
    .main-header-main_block-text-anonymous-warranty {
        font-size: 2.5vw;
    }

    .main-header-main_block-text-anonymous-warranty {
        padding: 5vh 2vh;
    }

    .main-header-main_block-text-description_title {
        font-size: 1.2vw;
    }

    .main-header-main_block-text-description {
        font-size: 1vw;
    }

    .main-header-main_block-calculator {
        width: 55%;
    }
}

@media screen and (max-width: 1023px) {
    .main-header {
        width: 80%;
        height: auto;
        padding: 0 10%;
    }

    .main-header-header_block-logo {
        width: 20%;
    }

    .main-header-header_block-button,
    .main-order_form-button {
        font-size: 3vw;
    }

    .main-header-main_block {
        flex-direction: column;
    }

    .main-header-main_block-text,
    .main-header-main_block-calculator {
        width: 100%;
    }

    .main-header-main_block-text-title,
    .main-header-main_block-text-anonymous-text {
        font-size: 9vw;
    }

    .main-header-main_block-text-anonymous-warranty {
        font-size: 5vw;
        padding: 4vh 2vh;
    }

    .main-header-main_block-text-description_title {
        font-size: 5vw;
    }

    .main-header-main_block-text-description {
        font-size: 4vw;
    }

    #orderformph-new-2-iframe {
        height: 620px !important;
    }

    .main-rating {
        width: 80%;
        height: auto;
        padding: 5% 10% 3%;
    }

    .main-rating-rate {
        align-items: center;
        flex-direction: column;
    }

    .main-rating-rate-row {
        width: 100%;
        margin: 1vh 0;
    }

    .main-rating-rate-block-logo {
        margin-left: 5%;
    }

    .main-rating-rate-block-rating {
        margin-left: 20%;
    }

    .main-rating-rate-block-rating-title {
        font-size: 3vw;
    }

    .main-rating-rate-block-rating-rate {
        width: 14vw;
    }

    .main-rating-rate-block-rate_number,
    .main-rating-comment-text {
        font-size: 4vw;
    }

    .main-left_circle, .main-right_circle {
        display: none;
    }

    .main-why_us-title,
    .main-order_form-title {
        font-size: 6vw;
        text-align: center;
    }

    .main-why_us-underline {
        width: 5vh;
        border: 1px solid #0064aa;
    }

    .main-why_us-list-item {
        font-size: 3vw;
    }

    .main-why_us-list-item-icon {
        width: 10%;
    }

    .main-order_form-title {
        width: 64%;
    }

    .main-order_form-href {
        margin: 10% 0;
    }

    .main-work-steps {
        margin-top: 0;
        flex-direction: column;
    }

    .main-work-steps-step {
        width: auto;
        margin-top: 20%;
    }

    .main-work-steps-step:nth-child(1) .main-work-steps-step-number_block,
    .main-work-steps-step:nth-child(2) .main-work-steps-step-number_block {
        top: -60%;
    }

    .main-work-steps-step-number_block {
        padding: 1vh 2vh 0;
    }

    .main-work-steps-step-number_block-text {
        font-size: 2vw;
        margin-bottom: 1vh;
    }

    .main-feedback-review_block {
        flex-direction: column;
    }

    .main-feedback-review_block-item {
        width: auto;
        margin: 1vh 3%;
    }

    .main-feedback-review_block-item-comment,
    .main-feedback-review_block-item-user_block-info-name,
    .main-work-steps-step-description,
    .main-footer-copyright,
    .main-footer-navbar-item {
        font-size: 3vw;
    }

    .main-footer {
        flex-direction: column;
    }

    .main-footer-navbar {
        align-items: center;
        flex-direction: column;
    }

    .main-footer-navbar-item {
        margin: 1vh 0;
    }

    .main-payments {
        align-items: center;
    }

    .main-payments-method {
        width: 10%;
    }

    .main-payments-dmca {
        width: 80%;
    }
}